In [ ]:
import pandas as pd

In [ ]:
from sqlalchemy import create_engine
engine= create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [ ]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [ ]:
type(df.lpep_dropoff_datetime)

In [ ]:
df=pd.read_csv("E:\DE\Zoomcamp\Week_1\Docker_SQL\green_tripdata_2019-01.csv\green_tripdata_2019-01.csv")
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

In [ ]:
count=0
for chunk in pd.read_csv("E:\DE\Zoomcamp\Week_1\Docker_SQL\green_tripdata_2019-01.csv\green_tripdata_2019-01.csv", chunksize=10000):
    count+=1
    print('Inserting chunk no #%.3f' % count)
    chunk.to_sql(name='green_taxi_data',con=engine,if_exists='append')

In [25]:
zone_df=pd.read_csv("taxi_zone_lookup.csv")

In [28]:
zone_df
print(pd.io.sql.get_schema(zone_df, name='green_taxi_zone', con=engine))
zone_df.to_sql(name='green_taxi_zone',con=engine,if_exists='append')

CREATE TABLE green_taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)